{% extends "base.html" %} {% block content %}

<div>
  <div>
    <img src="{{ url_for('static', filename='images/') }}{{ current_user.user_profile_picture }}" />
    <div id="user_infos">
      <div>
        <p id="user_name">
          {{ current_user.user_firstname }} {{ current_user.user_lastname }}
        </p>
        <p>{{ current_user.user_identifiant }}</p>
      </div>

      <input type="button" value="Modifier son profil" onclick="toggleForm('on')" />
    </div>

    <div id="profile_form_div">
      <form id="profile_form" action="" method="post" autocomplete="off">
        {{ form.hidden_tag() }}
        <p>
          {{ form.first_name.label }} {{ form.first_name(value =
          current_user.user_firstname ) }} {% for error in
          form.first_name.errors %}
          <span style="color: red">[{{ error }}]</span> {% endfor %}
        </p>
        <p>
          {{ form.last_name.label }} {{ form.last_name(value =
          current_user.user_lastname ) }} {% for error in form.last_name.errors
          %}
          <span style="color: red">[{{ error }}]</span> {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
        <input type="button" value="Annuler" onclick="toggleForm('off')" />
      </form>
    </div>
  </div>

  <div>
    <nav>
      <ul>
        <li>
          <a id="overview" href="/overview" onclick="navigateInOverviewTabs(event)">Overview</a>
        </li>
        <li>
          <a id="contracts" href="/overview?tab=contracts" onclick="navigateInOverviewTabs(event)">Contrats {{
            current_user.contracts|length }}</a>
        </li>
      </ul>
    </nav>

    <div id="overview_div">Je suis dans overview</div>
    <div id="contracts_div">
      <a href="{{ url_for('controllers.contract.add_contract') }}">Ajouter un contrat</a>
      {% for contract in current_user.contracts %}
      <a href="{{ url_for('controllers.contract.show_contract', id=contract.id) }}">
        <p>{{ contract.contract_category }}</p>
        <p>{{ contract.contract_name }}</p>
        <p class="mens">{{ contract.contract_mens }} <span>€</span></p>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
</div>

<script type="text/javascript">
  const tab = {{ tab | tojson }};
  const form_url = {{ url_for('controllers.overview.overview_update_profile') | tojson }};

</script>

<script src="{{ url_for('static', filename='js/overview.js') }}"></script>

{% endblock %}