{% extends "base.html" %}

{% block content %}

<form id=changeIdentifiantForm action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.identifiant.label }}<br>
        {{ form.identifiant(value=current_user.user_identifiant) }}<br>
        {% for error in form.identifiant.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password }}<br>
        {% for error in form.password.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
</form>

<form id=changeEmailForm action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.email.label }}<br>
        {{ form.email(value=current_user.user_email) }}<br>
        {% for error in form.email.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password }}<br>
        {% for error in form.password.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
</form>

<form id=changePasswordForm action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.current_password.label }}<br>
        {{ form.current_password }}<br>
        {% for error in form.current_password.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.future_password.label }}<br>
        {{ form.future_password(size=32) }}<br>
        {% for error in form.future_password.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.confirmation_future_password.label }}<br>
        {{ form.confirmation_future_password(size=32) }}<br>
        {% for error in form.confirmation_future_password.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
</form>

<a href="{{ url_for('controllers.user.delete_user') }}">Supprimer le compte</a>


{% endblock %}