{% extends "base.html" %} {% block content %} {% if not session["user_email"] %}
<div>
    <h1>Toutes les informations de vos contrats sur une même plateforme.</h1>
    <h2>Un besoin urgent sur tel ou tel contrat ? Où que vous soyez, ce que vous cherchez se trouve ici.</h2>
    <p>Vous souhaitez être tranquille ? Saisissez votre adresse e-mail pour commencer.</p>
    <div>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }} {{ form.email }} {{ form.submit() }}
        </form>
    </div>
</div>
{% else %}
<div>
    <h1>Ravis de vous revoir !</h1>
    <h2>Un besoin urgent sur tel ou tel contrat ? Où que vous soyez, ce que vous cherchez se trouve ici.</h2>
    <p>Vous êtes à quelques secondes de vous faciliter la vie.</p>
    <div>
        <form action="{{ url_for('controllers.auth.register') }}" , method="get">
            <button type="submit">Terminer l'inscription</button>
        </form>
    </div>
</div>
{% endif %} {% endblock %}